[Unit]
Description=Motion daemon
After=network.service

[Service]
Type=simple
ExecStart=/usr/bin/motion -c /etc/motion/motion.conf
KillMode=process
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
