[Unit]
Description=Motion daemon
After=local-fs.target network.target

[Service]
PIDFile=/var/run/motion.pid
ExecStart=/usr/bin/motion -c /etc/motion/motion.conf
Type=simple
StandardError=null
Restart=always
# RestartSec=30s
User=root
# Group is needed to set root vars
Group=root

[Install]
WantedBy=multi-user.target
