[Unit]
Description=Ngrok
After=network.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/pollofeed
ExecStart=/home/pi/Downloads/ngrok start pollofeed --config="/home/pi/Documents/pollofeed/ngrok.yml"
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
