[Unit]
Description=pollofeed
After=network.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/pollofeed
ExecStart=/usr/bin/python3 /home/pi/Documents/pollofeed/pollofeed.py
KillMode=process
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
