footer.bg-secondary.container-fluid.d-flex.justify-content-center.align-items-center(style="height: 10vh; min-height: 200px")
    .row.d-flex.justify-content-around.align-items-center.h-100(style="font-size: 1.6rem;")
        a.d-flex.justify-content-center.align-items-center(class="nav-link" href="https://tip.pollofeed.com" target="_blank" rel="noopener noreferrer")
            i(class="fa fa-thumbs-up fa-2x mr-2")
            b Tips appreciated
        a.d-flex.justify-content-center.align-items-center(class="nav-link" href="https://github.com/j-chimienti/pollofeed" target="_blank" rel="noopener noreferrer")
            i(class="fa fa-github fa-2x mr-2")
            b Repo
