footer(class="bg-secondary container-fluid")
    .row.d-flex.justify-content-between.align-items-center.my-3.p-3
        div(class="col-sm-6")
            a(class="nav-link float-left" href="https://github.com/j-chimienti/pollofeed" target="_blank" rel="noopener noreferrer")
                i(class="fa fa-github fa-2x mr-2")
        div(class="col-sm-6")
            textarea(class='form-control form-control-sm text-monospace' rows=2 readonly=true) 03902356d26efdc0812726c31a1a2e0d721f26063dd252ac89ded8280037e9ece8@198.58.99.169:9735
