footer(class="bg-secondary container-fluid" style="height: 10rem")
    .row.d-flex.justify-content-around.align-items-center.h-100
        a.d-flex.justify-content-center.align-items-center(class="nav-link text-white" href="https://tip.pollofeed.com" target="_blank" rel="noopener noreferrer")
            i(class="fa fa-thumbs-up fa-2x mr-2")
            b Tips appreciated
        a.d-flex.justify-content-center.align-items-center(class="nav-link text-white" href="https://github.com/j-chimienti/pollofeed" target="_blank" rel="noopener noreferrer")
            i(class="fa fa-github fa-2x mr-2")
            b Repo
        b x26jn5xnh3rhxlrd7flvlidbhu4a5lqiaukd7l72kp5pgrfozr45ufad.onion:9735
