div
    nav.navbar.mb-4
        a.d-none.d-sm-block.nav-link.nav-link-text-lg.font-weight-bold(href='https://btcpal.online/apps/ZTDhnT9yQ52MLG9qqgT2hG8q1Uu/pos')
            | Swag
        a.d-none.d-sm-block.nav-link.nav-link-text-lg.font-weight-bold(href='/about')
            | About
div.row.mb-1.d-block.d-sm-none.d-flex.justify-content-center.align-items-center
    a.nav-link.nav-link-text-md.font-weight-bold(href='https://btcpal.online/apps/ZTDhnT9yQ52MLG9qqgT2hG8q1Uu/pos')
        | Swag
    a.nav-link.nav-link-text-md.font-weight-bold.ml-2(href='/about')
        | About
