
.App {
    text-align: center;
}

.App-header {

    background: #282c34;
    height: 100vh;
    /* Create the parallax scrolling effect
    background-image: url(./assets/barn.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    */
    background-size: cover;
    font-size: calc(10px + 2vmin);
    color: var(--light);
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.video-wrapper {

    max-width: 850px;
    min-height: 480px;
}

video {

    width: 100%;
}



.App-title {

    letter-spacing: .2rem;
    text-transform: uppercase;
}

.twitter-wrapper {

    margin-left: 5rem;
    max-width: 80vw;
}

.navigation-bar {

    width: 20rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.btn-feed {

    max-width: 20rem;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.order-state {

    position: relative;
    bottom: 0;
}

.enter-trans {

    transform: translateY(-1000px);
    transition: all .9s;
}

.enter-trans.show {

    transform: translateY(0)
}

.text-trans {

    transition: all 0.9s;
}

.text-trans.show {

    opacity: 1;
    visibility: visible;

}

.fa-circle {

    transition: color 0.9s;
}
