
:root {

    --pollofeed_blue: #67c6df;
    --pollofeed_blue_dark: #1f7c95;
}

a {
    color: var(--pollofeed_blue);
}

a:hover {

    color: var(--pollofeed_blue_dark);
    cursor: pointer;
}

.pollofeed_logo {
    width: 65px;
    position: absolute;
    left: 118px;
    top: 160px;
}

.btn_feed {

    max-width: 275px;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    background-color: var(--pollofeed_blue);
    transition: background-color 0.2s linear;

}

.btn_feed:hover {

    background-color: var(--pollofeed_blue_dark);
}

@media all and (max-width: 576px) {
    .pollofeed_logo {
        visibility: hidden;
    }
}
.navbar {
    height: 100px;
    background: url(banner.png) no-repeat center;
    background-size: contain;
}


.nav-link-text-lg {

    font-size: 1.5rem;
}

.nav-link-text-md {

    font-size: 1.25rem;
    padding: 0;
}
