.pollofeed_logo {
    width: 50px;
    position: absolute;
    left: 125px;
    top: 175px;
}


/*.header {*/

/*    height: 200px;*/
/*    background: url(pollofeed_banner.png);*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/
