.pollofeed_logo {
    width: 50px;
    position: absolute;
    left: 125px;
    top: 175px;
}

.btn_feed {

    max-width: 275px;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    background-color: #67c6df;
    transition: background-color 0.2s linear;

}

.btn_feed:hover {

    background-color: #1f7c95;
}

@media all and (max-width: 576px) {

    .pollofeed_logo {

        left: 150px;
        top: 200px;
    }
}
.header {
    height: 100px;
    background: url(banner.png) no-repeat center;
    background-size: contain;
}
