.pollofeed_logo {
    width: 50px;
    position: absolute;
    left: 125px;
    top: 175px;
}

@media all and (max-width: var(--breakpoint-sm)) {

    .pollofeed_logo {

        left: 150px;
        top: 200px;
    }
}


@media all and (max-width: 576px) {

    .pollofeed_logo {

        left: 150px;
        top: 200px;
    }
}
.header {

    height: 200px;
    background: url(banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
